*.iml .gradle /local.properties /.idea/workspace.xml /.idea/libraries .idea .DS_Store /build /captures .externalNativeBuild

git remote add origin https://github.com/username/project.git

git commit - m "My First Commit"
git push origin